/* STYLES TO CAROUSEL */

.carousel {

  .carousel-item {

    img {
      min-width: auto;
      object-fit: cover;
    }
  }

  a {
    color: black;
  }

}

/* END STYLES OF CAROUSEL */

.user-comment {
  background: #f3f3f3;
  color: black;
}
