/* STYLES TO CAROUSEL */

.carousel {

  .carousel-item {

    img {
      min-width: auto;
      object-fit: cover;
    }
  }

  a {
    color: black;
  }

}

/* END STYLES OF CAROUSEL */
.user-comment {
  background: rgb(73, 124, 255);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
