/* STYLES TO CAROUSEL */

.carousel {

  .carousel-item {

    img {
      min-width: auto;
      object-fit: cover;
    }
  }

  a {
    color: black;
  }

}

/* END STYLES OF CAROUSEL */
.user-comment {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.image-service {
  width: 100%;
  max-width: 400px;
}
