/* STYLES OF TOOLBAR */
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #3075fc;
  color: #ffffff;

  .brand {
    margin-left: .7rem;
  }

  .nav-items {
    button {
      margin: 0 .3rem;
    }
  }
}
/* END STYLES OF TOOLBAR */
