/* You can add global styles to this file, and also import other style files */

//Styles to reset some styles to default
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Eliminate the border that bootstrap generates when clicking on angular material buttons
button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

html {
  background-color: #f3fffc;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Applies a spacing between the elements of a toolbar
.example-spacer {
  flex: 1 1 auto;
}

/* STYLES TO CARDS */
.card {
  background: #3075fc;
  margin: 1rem;
}
/* END STYLES TO CARDS */

//Remove the margin to the last element in a row
.row {
  &:last-child {
    margin: 0;
  }
}
